# CMake
CMakeCache.txt
CMakeFiles/
Debug/
bin/
build/
Makefile
cmake_install.cmake


# Eclipse
.cproject
.project
.settings/


# Locale Folders
logs/
airplay_server/bin/lib/


# File System
.DS_Store
._.DS_Store
.AppleDobule
._.AppleDouble
