[Unit]
Description=Brik Network Service
Requires=rc-local.service
After=rc-local.service

[Service]
User=root
Group=root
Type=simple

WorkingDirectory=/home/brik
ExecStart=/brik/brik_ev_c/lib/shell/brik_network.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=3

[Install]
WantedBy=rc-local.service
